#background {
  background-color: #020202;
}

#text {
  color: #F4F1EA;
}

.container {
  margin-top: 0;
  margin-left: calc(3rem + 1px);
  height: 100vh;
  width: calc(110vw - 3rem);
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 3vh;
  background-color: #020202;
}

.aboutPage {
  position: absolute;
  top: 0;
  left: calc(3rem + 1px);
  height: 100vh;
  width: calc(100vw - 3rem);
  background: #020202;
}

.aboutColumn1 {
  padding: 3vh;
  /* background: orange; */
}

.aboutColumn2 {
  padding: 3vh;
  /* background: red; */
}

.aboutWork {
  padding: 3vh;
  padding-top: 6vh;
  display: flex;
  /* flex-flow: row wrap; */
  font-size: 1.7vh;
  /* background: purple; */
}

.aboutContent {
  position: absolute;
  padding: 8.5vh 5vh 5vh;
  display: flex;
  /* background: green; */
}

.aboutDesc {
  position: relative;
  font-size: 1.7vh;
  width: 35vh;
  /* background: purple; */
}

.aboutPic {
  max-height:50vh;
  width: auto;
  height: auto;
  padding-top: 3vh;
}

.aboutCircle {
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
  position: absolute;
  z-index: 1;
  max-height:13vh;
  width: auto;
  height: auto;
  top: 88%;
  right: -15%;
}



.aboutTitle {
  position: absolute;
  font-family: LostaMasta-Light;
  font-size: 24vmin;
  line-height: 22vmin;
  text-align: left;
  width: 100%;
  padding-left: 2vw;
  bottom: 0;
}

.fadePage {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #020202; 
}

.transition {
  transition-timing-function: linear;
}

.workMenu {
  position: absolute;
  top: 18vh;
  left: calc(3rem + 1px);
  height: 23vh;
  width: calc(100vw - 3rem);
  /* background: navy; */
}

.workRow {
  position: absolute;
}

.topRow {
  top: 0;
}

.bottomRow {
  bottom: 0;
}

.work {
  padding: 2vh;
  padding-top: 0;
}

.workElemNumber {
  display: inline-block;
}

.workElemTitle {
  font-family: ArialNova Light;
  font-size: 8vmin;
  line-height: 6vmin;
  margin: 0;
  position: relative;
  z-index: 2;
}

.workImage {
  max-width:50vw;
  max-height:50vh;
  width: auto;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  position: fixed;
}

.invertColors {
  position: fixed;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  z-index: 5;
}

.tinyText {
  font-family: ArialNova;
  font-style: italic;
  font-size: 1.7vh;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 3rem;
  z-index: 2000;
  text-align: center;
  mix-blend-mode: difference;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  /* background: aqua; */
}

.sideMenuBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(3rem + 1px);
  height: 100vh;
  z-index: 5;
  background: #020202;
}

.sideTitle {
  font-family: LostaMasta-Light;
  font-size: 2.5vh;
  cursor: pointer;
  
}

.titleFont {
  font-family: LostaMasta-Light;
  font-size: 20vmin;
  line-height: 16vmin;
}

.trishRoque {
  position: absolute;
  left: 155vh;
  bottom: 4vh;
}
.scrollLine {
  border-top: 1px solid #F4F1EA;
  width: 76vmin;
  position: absolute;
  top: 4vmin;
  left: 2vmin;
}

.scrollDot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #F4F1EA;
  position: absolute;
  top: calc(4vmin - 1px);
}

.arrow {
  width: 4vh;
  top: 0.9vh;
}

/* .arrow {
  position: absolute;
  width: 4vh;
  top: 0.9vh;
} */

.trishTitle {
  white-space: nowrap;
  direction: rtl;
  padding-left: 15vh;
}

.trishDescription {
  direction: rtl;
  font-size: 2vmin;
  font-family: ArialNova Light;
  padding-right: 1vh;
  padding-bottom: 2vh;
}

.topMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  width: 3rem;
}

.middleMenu {
  display: flex;
  position: absolute;
  top: 20vh;
  left: 0;
  height: 60vh;
  width: 3rem;
  line-height: 3rem;
  justify-content: space-around;
}

.middleText {
  font-size: 0.6rem;
}

.bottomMenu {
  position: absolute;
  top: 82vh;
  left: 0;
  height: 16vh;
  width: 3rem;
  line-height: 3rem;
}

.bottomLinks {
  display: flex;
  justify-content: space-around;
  font-size: 0.5rem;
}

.verticalLine {
  border-left: 1px solid #F4F1EA;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 3rem;
}

.horizontalLine {
  border-top: 1px solid #F4F1EA;
  width: 3rem;
  position: fixed;
  left: 0;
}

.sideMenuFooter {
  position: fixed;
  right: 2vw;
  bottom: 0;
  padding-bottom: 2vh;
  text-align: right;
  font-style: italic;
  font-size: 0.8vmax;
  /* direction: rtl; */
}

.menuLabel {
  font-family: GeneraleStation;
  color: inherit;
  font-size: 7vw;
  line-height: 6.5vw;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  /* background-color: navy; */
}

.menuLabel:hover {
  color: #F4F1EA;
  cursor: pointer;
}

/* BURGER MENU STYLES */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 1rem;
  height: 1rem;
  left: 1rem;
  top: calc(10vh - 0.5rem);
  cursor: pointer;
}

.bm-cross-button {
  outline: none;
}

.bm-item {
  /* Our sidebar item styling */
  text-decoration: none;
  color: #020202;
  transition: color 0.8s;
  margin: 0;
  outline: none;
}

/* Change color on hover */
.bm-item:hover {
  /* color: white; */
}

/* General sidebar styles */
.bm-menu {
  background: #F4F1EA;
  padding: 0 3rem 0;
  font-size: 2vw;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #F4F1EA;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 3vw;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.tab {
  padding-left: 2.5vh;
}

.section {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.App {
  
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }