.sideMenu {
  height: 100%;
  width: 3em;
  position: fixed;
  z-index: 2000;
  top: 20vh;
  left: 0;
  overflow-x: hidden;
  background-color: aqua;
}

.verticalLine {
  border-left: 1px solid #F4F1EA;
  mix-blend-mode: darken;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 3em;
}

.sideMenuFooter {
  position: fixed;
  right: 2vw;
  bottom: 0;
  text-align: right;
  font-style: italic;
  /* direction: rtl; */
}

.menuLabel {
  font-family: GeneraleStation;
  color: inherit;
  font-size: 7vw;
  line-height: 6.5vw;
}

.menuLabel:hover {
  color: white;
}

/* BURGER MENU STYLES */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 0.9em;
  height: 0.9em;
  left: 1em;
  top: 10vh;
  cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #F4F1EA;
}

.bm-item {
  /* Our sidebar item styling */
  text-decoration: none;
  color: #020202;
  transition: color 0.3s;
}

/* Change color on hover */
.bm-item:hover {
  /* color: white; */
}

/* Color/shape of close button cross */
.bm-cross {
  /* background: #bdc3c7; */
}

/* General sidebar styles */
.bm-menu {
  background: #F4F1EA;
  padding: 0.5em 3em 0;
  font-size: 2vw;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #F4F1EA;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}