.container {
  margin-top: 0;
  margin-left: calc(3rem + 1px);
  height: 100vh;
  overflow-x: scroll;
  padding: 3vh;
}

#container {
}

.workMenu {
  position: absolute;
  left: 258vh;
  top: 18vh;
  height: 25vh;
  width: calc(100vw - 3rem);
  border-left: 1px solid #F4F1EA;
  background: navy;
}

.work {
  padding: 2vh;
  padding-top: 0;
}

.workElemNumber {
  display: inline-block;
}

.workElemTitle {
  font-family: ArialNova Light;
  font-size: 8vh;
  line-height: 6vh;
  margin: 0;
}

.workImage {
  max-width:50vw;
  max-height:50vh;
  width: auto;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  position: fixed;
  z-index: -1;
}

.invertColors {
  position: fixed;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
}

.tinyText {
  font-family: ArialNova;
  font-style: italic;
  font-size: 1.7vh;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 3rem;
  z-index: 2000;
  text-align: center;
  mix-blend-mode: difference;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  /* background: aqua; */
}

.sideTitle {
  font-family: GeneraleStation;
  font-size: 1.5vh;
  cursor: pointer;
  
}

.titleFont {
  font-family: GeneraleStation;
  font-size: 13vh;
  line-height: 12vh;
}

.trishRoque {
  position: absolute;
  left: 115vh;
  bottom: 4vh;
}
.scrollLine {
  border-top: 1px solid #F4F1EA;
  width: 158vh;
  position: absolute;
  top: 4vh;
  left: 2vh;
}

.scrollDot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #F4F1EA;
  position: absolute;
  top: calc(4vh - 1px);
}

.arrow {
  width: 4vh;
  top: 0.9vh;
}

/* .arrow {
  position: absolute;
  width: 4vh;
  top: 0.9vh;
} */

.trishTitle {
  white-space: nowrap;
  direction: rtl;
  padding-left: 15vh;
}

.trishDescription {
  direction: rtl;
  font-size: 2vh;
  font-family: ArialNova Light;
  padding-right: 1vh;
  padding-bottom: 2vh;
}

.topMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  width: 3rem;
}

.middleMenu {
  display: flex;
  position: absolute;
  top: 20vh;
  left: 0;
  height: 60vh;
  width: 3rem;
  line-height: 3rem;
  justify-content: space-around;
}

.middleText {
  font-size: 0.6rem;
}

.bottomMenu {
  position: absolute;
  top: 82vh;
  left: 0;
  height: 16vh;
  width: 3rem;
  line-height: 3rem;
}

.bottomLinks {
  display: flex;
  justify-content: space-around;
  font-size: 0.5rem;
}

.verticalLine {
  border-left: 1px solid #F4F1EA;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 3rem;
}

.horizontalLine {
  border-top: 1px solid #F4F1EA;
  width: 3rem;
  position: fixed;
  left: 0;
}

.sideMenuFooter {
  position: fixed;
  right: 2vw;
  bottom: 0;
  padding-bottom: 1vh;
  text-align: right;
  font-style: italic;
  font-size: 1vmax;
  /* direction: rtl; */
}

.menuLabel {
  font-family: GeneraleStation;
  color: inherit;
  font-size: 7vw;
  line-height: 6.5vw;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  /* background-color: navy; */
}

.menuLabel:hover {
  color: #F4F1EA;
  cursor: pointer;
}

/* BURGER MENU STYLES */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 1rem;
  height: 1rem;
  left: 1rem;
  top: calc(10vh - 0.5rem);
  cursor: pointer;
}

.bm-cross-button {
  outline: none;
}

.bm-item {
  /* Our sidebar item styling */
  text-decoration: none;
  color: #020202;
  transition: color 0.8s;
  margin: 0;
  outline: none;
}

/* Change color on hover */
.bm-item:hover {
  /* color: white; */
}

/* General sidebar styles */
.bm-menu {
  background: #F4F1EA;
  padding: 0 3rem 0;
  font-size: 2vw;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #F4F1EA;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 3vw;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.App {
  
}