@font-face {
  font-family: 'GeneraleStation';
  src: url("./fonts/GeneraleStation-Extended.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ArialNova';
  src: url("./fonts/ArialNova.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ArialNova';
  src: url("./fonts/ArialNova-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'ArialNova Light';
  src: url("./fonts/ArialNova-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LostaMasta-Light';
  src: url("./fonts/LostaMasta-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: ArialNova;
  color: #F4F1EA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  background-color: #020202;
  overflow: hidden;
  touch-action: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { 
  color: inherit;
  text-decoration: none;
}